In [1]:
 import numpy as np
 import pandas as pd
 import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('/content/IMDB Dataset.csv')
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [3]:
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [4]:
df=df.sample(10001)

## TEXT CLEANING:

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10001 entries, 25886 to 39921
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10001 non-null  object
 1   sentiment  10001 non-null  object
dtypes: object(2)
memory usage: 234.4+ KB

In [6]:
df['sentiment'].replace({'positive':1,'negative':0},inplace=True)
df.head()

                                                  review  sentiment
25886  I saw "Brother's Shadow" at the Tribeca Film F...          1
4848   Ok first of all, this movie sucks. But lets ex...          0
801    The movie was gripping from start to finish an...          1
43624  I really liked this picture, because it realis...          1
10891  I really looked forward to seeing Nana after s...          0

In [7]:
#Testing HTML tag removal function
import re
clean =re.compile('<.*?>')
re.sub(clean,'',df.iloc[0].review)

'I saw "Brother\'s Shadow" at the Tribeca Film Festival and found myself still thinking about it two days later. The story of a prodigal son (Scott Cohen) returning to his family\'s custom furniture business after a stint in jail, it offers all the necessary qualities of a solid drama--memorable characters; sharp, observant dialog; sensitive use of the camera by a filmmaker who thinks visually.But more than that, it presents something that is all too rare at the multiplex these days: the uncompromising vision of a mature sensibility. The talent of director-screenwriter Todd S. Yellin seems to emerge full-blown, but we get the sense he (like his protagonist) has paid his dues. He knows how real people struggle in this world, and he knows how we yearn to see--or at least, to experience vicariously--success. Yet Yellin respects his audience too much to blow happy smoke up our rear ends. In the end, we see that Jake\'s triumph doesn\'t lie in commissions, or even in the esteem of his family, but in "the work" he couldn\'t abandon if he tried.It\'s an essential theme in a world (and especially a movie industry) that can\'t rise above "the bottom line". This film deserves a wide audience.'

In [8]:
#Function to clean html tags 
def clean_html(text):
  clean =re.compile('<.*?>')
  return re.sub(clean,'',text)

df['review']=df['review'].apply(clean_html)

In [9]:
#converting everything into lower case

def convert_lower(text):
  return text.lower()

df['review']=df['review'].apply(convert_lower)

In [10]:
#removing special characters

def remove_special(text):
  x=''

  for i in text:
    if i.isalnum():
      x=x+i
    else:
      x=x+' '
  return x


df['review'] =df['review'].apply(remove_special)

In [11]:
#removing stop words

!pip install nltk --quiet

In [12]:
import nltk
nltk.download('popular')

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]    |   Package omw-1.4 is already up-to-date!
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet2021 to /root/nltk_data...
[nltk_data]    |   Package wordnet2021 is already up-to-date!
[nltk_data]    | Downloading package wordnet31 to /root/nltk_data...
[nltk_data]    |   Package wordnet31 is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

True

In [13]:
from nltk.corpus import stopwords

In [14]:
def remove_stopwords(text):
  x=[]

  for i in text.split():
    if i not in stopwords.words('english'):
      x.append(i)
  y=x[:]
  x.clear()
  return y

In [15]:
df['review']=df['review'].apply(remove_stopwords)

In [16]:
df

                                                  review  sentiment
25886  [saw, brother, shadow, tribeca, film, festival...          1
4848   [ok, first, movie, sucks, lets, examine, propo...          0
801    [movie, gripping, start, finish, b, w, photogr...          1
43624  [really, liked, picture, realistically, dealt,...          1
10891  [really, looked, forward, seeing, nana, seeing...          0
...                                                  ...        ...
47782  [howard, brackett, kevin, kline, teacher, get,...          1
44616  [friend, mine, enjoys, watching, worst, films,...          0
24636  [caught, movie, tube, sunday, thought, bad, lo...          0
47197  [got, rental, store, work, released, release, ...          0
39921  [actors, actresses, series, ok, scripts, absol...          0

[10001 rows x 2 columns]

In [17]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [18]:
y=[]
def stem_words(text):
  for i in text:
    y.append(ps.stem(i))
  z=y[:]
  y.clear()
  return z

In [19]:
df['review']=df['review'].apply(stem_words)

In [20]:
def join_back(list_input):
  return " ".join(list_input)


df['review']=df['review'].apply(join_back)
df

                                                  review  sentiment
25886  saw brother shadow tribeca film festiv found s...          1
4848   ok first movi suck let examin proposit machin ...          0
801    movi grip start finish b w photographi america...          1
43624  realli like pictur realist dealt two peopl lov...          1
10891  realli look forward see nana see renoir amaz d...          0
...                                                  ...        ...
47782  howard brackett kevin kline teacher get marri ...          1
44616  friend mine enjoy watch worst film possibl fin...          0
24636  caught movi tube sunday thought bad look imdb ...          0
47197  got rental store work releas releas 8 21 watch...          0
39921  actor actress seri ok script absolut horribl f...          0

[10001 rows x 2 columns]

In [131]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()


x=cv.fit_transform(df['review']).toarray()

In [132]:
x.shape

(10001, 36418)

In [133]:
y=df.iloc[:,1].values

In [134]:
y.shape

(10001,)

In [135]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [136]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [137]:
clf1=GaussianNB()
clf2=MultinomialNB()
clf3=BernoulliNB()

In [138]:
clf1.fit(x_train,y_train)
clf2.fit(x_train,y_train)
clf3.fit(x_train,y_train)

BernoulliNB()

In [139]:
y_pred1=clf1.predict(x_test)
y_pred2=clf2.predict(x_test)
y_pred3=clf3.predict(x_test)

In [140]:
from sklearn.metrics import accuracy_score

print('Gaussian',accuracy_score(y_test,y_pred1))
print('Multinomial',accuracy_score(y_test,y_pred2))
print('Bernoulli',accuracy_score(y_test,y_pred3))

Gaussian 0.6221889055472264
Multinomial 0.8515742128935532
Bernoulli 0.8255872063968016