In [1]:
import numpy as np
import pandas as pd
import cv2
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('/content/play_tennis.csv')
df.head()
df.drop(columns=['day'],inplace=True)

In [3]:
df

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

Creating the lookup table

In [5]:
df.play.value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [6]:
py=9/14
pn=5/14

In [7]:
#outlook
pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [9]:
pon=0
prn=2/5
psn=3/5

poy=4/9
pry=3/9
psy=2/9

In [10]:
pd.crosstab(df['temp'],df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [11]:
pcoolno=1/5
photno=2/5
pmildno=2/5

pcooly=3/9
photy=2/9
pmildy=4/9

In [12]:
pd.crosstab(df['humidity'],df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [13]:
phighno=4/5
pnormalno=1/5

phighy=3/9
pnormaly=6/9

In [14]:
pd.crosstab(df['wind'],df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [15]:
pstrongno=3/5
pweakno=2/5

pstrongy=3/9
pweaky=6/9

Prediction

In [16]:
#Problem :
#Sunny,Hot,High,Strong: PLAY OR NO PLAY?

pyes=py*psy*photy*phighy*pstrongy
pno=pn*psn*photno*phighno*pstrongno

pyes  ,   pno

(0.003527336860670194, 0.04114285714285714)

Answer: NO PLAY