In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df=pd.read_csv('/content/Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [37]:
x=df.iloc[:,2:4].values
y=df.iloc[:,4].values

In [38]:
x.shape , y.shape

((400, 2), (400,))

In [39]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [40]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [67]:
import operator
from collections import Counter

class KNearestNeighbors:
  def __init__(self,k):
    self.k=k

  def fit(self,x_train,y_train):
    self.x_train=x_train
    self.y_train=y_train
    print("Training Done")
  
  def predict(self,x_test):
    distance={}
    counter=1

    for i in self.x_train:
      distance[counter] = (x_test[0][0]-i[0])**2 + (x_test[0][1]-i[1]**2)**1/2
      counter=counter+1

    distance = sorted(distance.items(), key=operator.itemgetter(1))
    self.classify(distance=distance[:self.k])

  def classify(self,distance):
    label=[]

    for i in distance:
      label.append(self.y_train[i[0]])
      

    return(Counter(label).most_common()[0][0])

In [68]:
knn=KNearestNeighbors(k=3)
knn.fit(x_train,y_train)

Training Done

In [76]:
def predict_new():
  age= int(input("Enter the age"))
  salary = int(input("Enter the Salary"))
  x_new=np.array([[age,salary]]).reshape(1,2)
  x_new=scaler.transform(x_new)

  result=knn.predict(x_new)
  if result == 0:
    print("\n ... Will Not Purchase ...")
  else:
    print("\n ... Will Purchase ...")

In [77]:
predict_new()

Enter the age35
Enter the Salary120000

 ... Will Purchase ...