In [8]:
import pandas as pd
import numpy as np

In [9]:
df= pd.read_csv('/content/sample_data/california_housing_train.csv')

In [10]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [12]:
x=df.drop('median_house_value',axis=1)
y=df['median_house_value']

In [16]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [17]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train= scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [25]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import GridSearchCV

In [19]:
lr=LinearRegression()
dt=DecisionTreeRegressor()
knn=KNeighborsRegressor()

In [22]:
lr.fit(x_train,y_train)
dt.fit(x_train,y_train)
knn.fit(x_train,y_train)

KNeighborsRegressor()

In [23]:
y_pred1 = lr.predict(x_test)
y_pred2 = dt.predict(x_test)
y_pred3 = knn.predict(x_test)

In [26]:
print("r2 score of LR: ",r2_score(y_test,y_pred1))
print("r2 score of DT: ",r2_score(y_test,y_pred2))
print("r2 score of KNN: ",r2_score(y_test,y_pred3))

r2 score of LR:  0.6636396350243802
r2 score of DT:  0.6503758190434539
r2 score of KNN:  0.7148709686554819

Bagging:

In [30]:
from sklearn.ensemble import BaggingRegressor
#Decison Tree [default]
bagr = BaggingRegressor(random_state=1)
bagr.fit(x_train,y_train)

BaggingRegressor(random_state=1)

In [31]:
y_pred = bagr.predict(x_test)

print("Training r2: ",bagr.score(x_train,y_train))
print("Testing r2: ",bagr.score(x_test,y_test))

Training r2:  0.9633232854123981
Testing r2:  0.8024769536606826

GridSearchCV

In [33]:
params ={
    'base_estimator': [None,LinearRegression(),KNeighborsRegressor()],
    'n_estimators': [50,100,200],
    'max_samples': [0.5,1.0],
    'bootstrap': [True,False],
    'max_features' :[0.5,1.0],
    'bootstrap_features': [True,False]
}

grid= GridSearchCV(BaggingRegressor(random_state=1,n_jobs=-1),param_grid=params,cv=3,n_jobs=-1,verbose=1)
grid.fit(x_train,y_train)

print("Training r2 score : ",grid.best_estimator_.score(x_train,y_train))
print("Testing r2 score : ",grid.best_estimator_.score(x_test,y_test))
print("Best r2 score :",grid.best_score_)
print("Best Params : ", grid.best_params_)

Fitting 3 folds for each of 144 candidates, totalling 432 fits

/usr/local/lib/python3.7/dist-packages/joblib/externals/loky/process_executor.py:705: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
/usr/local/lib/python3.7/dist-packages/joblib/externals/loky/process_executor.py:705: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

Training r2 score :  0.9754401665304507
Testing r2 score :  0.8226400142187396
Best r2 score : 0.8093353913320556
Best Params :  {'base_estimator': None, 'bootstrap': True, 'bootstrap_features': False, 'max_features': 1.0, 'max_samples': 1.0, 'n_estimators': 200}