In [1]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv('heart (1).csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [10]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

x=df.drop('target',axis=1)
y=df['target']

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [11]:
scaler=StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [19]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [13]:
x_train.shape , y_train.shape

((820, 13), (820,))

In [14]:
rf=RandomForestClassifier()
gb=GradientBoostingClassifier()
lr=LogisticRegression()
svc=SVC()

In [16]:
rf.fit(x_train,y_train)
accuracy_score(y_test,rf.predict(x_test))

0.9853658536585366

In [17]:
gb.fit(x_train,y_train)
accuracy_score(y_test,gb.predict(x_test))

0.9317073170731708

In [20]:
lr.fit(x_train,y_train)
accuracy_score(y_test,lr.predict(x_test))

0.7951219512195122

In [21]:
svc.fit(x_train,y_train)
accuracy_score(y_test,svc.predict(x_test))

0.8878048780487805

In [25]:
from sklearn.model_selection import cross_val_score
np.mean(cross_val_score(RandomForestClassifier(),x,y,cv=10,scoring='accuracy'))

0.9970588235294118